<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Join the Party</h1>
        <div class="row center">
          <h5 class="header col s12 light">Clam Baking is a panel for...</h5>
        </div>
        <div class="element"></div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Submit a Post</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>

   
<script type="text/javascript" src="./publis/javascripts/typed.js"></script>
