<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>

