<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Join the Party</h1>
        <div class="row center">
          <p class="header col s12 light">The blog for anything and everything ridiculous. All content added by our subscribers and 'Fjohurs Lykkewe'.</p>
        </div>
        <div class="element"></div>
        <div class="row center">
          <a href="/all" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View the stew</a>
          <br>
        <p>#manclam</p>
        </div>
      </div>
    </div>
  </div>


 
 <script>
   $(document).ready(function(){
      $(".element").typed({
            strings: ["Politically Incorrect.", "Funny Shit."],
            typeSpeed: 50
          });
      });
</script>
<script type="text/javascript" src="../public/javascripts/typed.js"></script>