<!DOCTYPE html>
 <html>

    <head>
      <title>{{title}}</title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    </head>

    <body>
      <nav class="blue lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Clam Bake</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/form"><i class="material-icons left">add_circle_outline</i>Sign Up</a></li>
                <li><a href="/login"><i class="material-icons left">account_circle</i>Login</a></li> 
              </ul> 
              <ul class="side-nav" id="mobile-demo">
              <li><div class="userView">
                    <div class="background">
                      <img src="images/background.png">
                    </div>
                    <a href="#!user"><img class="circle" src="images/dog.png"></a>
                    <a href="#!name"><span class="black-text name">John Doe</span></a>
                    <a href="#!email"><span class="black-text email">Jdoe@gmail.com</span></a>
              </div></li> 
                <li><a href="/form"><i class="material-icons right">add_circle_outline</i>Sign Up</a></li>
                <li><a href="/login"><i class="material-icons right">account_circle</i>Login</a></li>  
              </ul>
      </nav>

<!--NAVIGATION-->
    
<!--BEGIN BODY-->
     

      <div class="container">   
          {{{body}}}   
      </div>


<!--END BODY-->

<!--FOOTER-->
   
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Clam Bake</h5>
                <p class="grey-text text-lighten-4">The humor blog for the politically incorrect and the WTF moments in life.</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-4 right" href="/logout">Logout</a>
            </div>
          </div>
    </footer>

      <!--Import jQuery before materialize.js-->
      
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"></script>
    </body>
  </html>


 <script>
   $(document).ready(function(){
    $(".button-collapse").sideNav();
  })
</script>
