<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="user name" required>
    <input type="password" name="password_hash" placeholder="Password" required>
    <input type="submit" value="Log In"></input>
</form>
