<div id="index-banner" class="parallax-container">
	<div class="col s12 m2 l2"></div>
	<div class="col s12 m8 l8"><h3><center><br><br><img src="images/bye.gif"></center></h3></div>
	<div class="col s12 m2 l2"></div> 
</div>




