<div id="index-banner" class="parallax-container">
	<div class="col s12 m2 l2"></div> <br>
	<div class="col s12 m8 l8"><h3><center>You submitted a post! <br> <br><a href="/all" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View your post.</a></center></h3></div>
	<div class="col s12 m2 l2"></div> 
</div>


