
<div id="index-banner" class="parallax-container">
    <h3>Welcome, {{this.attributes.username}}!<h3>
    <h6>Please provide an eye catching title to your post! <br> In the description {insert something witty}. <h6> 

    <p>
      <form action="/upload-content" method="post">
        <input type="text" name="title" placeholder="Title of your post" required>
        <input type="text" name="comment" placeholder="Description!" required>
    	   
    	    <div class="file-field input-field">
    	      <div class="btn">
    	        <span>Upload</span>
    	         <input id="fileinput" type="file" name="photo" placeholder="Upload your file here." required>
    	      </div>
    	      <div class="file-path-wrapper">
            	<input type="hidden" name="image_as_base64">
                <input class="file-path validate" type="text">
    	      </div>
    	    </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="addImage">Submit Post
        <i class="material-icons right">send</i></button>
      </form>
    </p>  
    <br>
    <br>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function(event) {
        var fileInput = document.querySelector('input[type="file"]');
        var hiddenFileForParams = document.querySelector('input[type="hidden"]');
        fileInput.addEventListener('change', function() {
            var fileAsBase64 = convertToBase64(fileInput.files[0], hiddenFileForParams);
            
        });
       
        function convertToBase64(binaryData, hiddenInput, callback) {
            var reader = new FileReader();
            reader.onload = function (event) {
                try {
                    console.log("File as base 64:");
                    hiddenInput.value = event.target.result;
                    return(event.target.result);
                } catch (ex) {
                    throw new Error("Couldn't convert file: " + ex);
                }
            }
            reader.readAsDataURL(binaryData);
        };
    });
</script>